* {
    margin: 0;
    padding: 0;
}
html {
    background-color: #F3F4F6;
}

.header-icon {
    width: 150px;
    height: 28px;
    margin-left: 6px;
    margin-top: 8px;
}

.header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    height: 64px;
    width: 100%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    align-items: center;
    z-index: 10;
}

.header-nav {
    display: flex;
    gap: 2rem;
    font-weight: bold;
    margin: 6px 6px;
}

.header-nav a {
    text-decoration: none;
    color: black;
    position: relative; 
}

.nav-li {
    list-style: none;
}

.li-btn {
    position: relative;
}

.navbtn {
    width: 12px;
    height: 14px;
    background-color: black;
    position: absolute;
    right: -15px;
    top: 13px;
    transform: translateY(-50%);
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 50% 70%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}

.nav-a {
    display: none;
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    padding: 6px 0;
    z-index: 10;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 110px; 
}

.li-btn:hover .nav-a {
    display: block;
}

.nav-a a {
    display: block;
    padding: 8px 16px;
    color: black;
}

.nav-a a:hover {
    color: white;
    background-color: #ff2d2d;
}
.carousel {
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.carousel-inner {
    display: flex;
    transition: 0.5s ease-in-out;
}
.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}
.carousel img {
    width: 100%;
    display: block;
}
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.prev {
    left: 10px;
}
.next {
    right: 10px;
}
button {
    text-align: center;
    cursor: pointer;
    color: inherit;
    font: inherit;
    border: none;
    background: rgb(188, 188, 188);
  }
.first-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 2em;
    background: rgb(188, 188, 188);
}
.btn:hover {
    background-color: red;
    transition: 1s;
    color: white;
}
.btn{
    display: inline-block;
    width: 150px;
    height: 50px;
}
.title {
    margin-top: 30px;
    font-size: 3rem;
    text-align: center;
    position: relative;
}
.title::after {
    content: "";
    position: absolute;
    border-radius: 4px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 3px;
    width: 62px;
    background-image: linear-gradient(to right,#f1e35e,#f62020);
}
.card {
    margin-left: 15px;
    margin-top: 10px;
    height: 150px;
    width: 300px;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;
}
.cardout {
    margin-top: 10px;
    margin-left: 10px;
    width: 330px;
    box-shadow: 0px 6px 3px 3px rgba(0, 0, 0, 0.1);
    position: relative;
}
p {
    clip-path: polygon(0% 0%, 85% 0%, 85% 75%, 20% 75%, 20% 100%, 0% 75%);
    width: 80px;
    height: 30px;
    background: black;
    display: flex;
    color: white;
    text-align: center;
    position: absolute;
    padding: 4px;
    font-weight: bold;
    z-index: 5;
}
.first-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 10px;
    margin-left: 15px;
}
.cardicon {
    clip-path: polygon(40% 20%, 100% 20%, 100% 80%, 15% 80%, 0 20%);
    width: 72px;
    height: 28px;
    padding: 6px;
    background-color: black;
    position: absolute;
    color: white;
    text-align: end;
    font-weight: bold;
    right: 0;
    z-index: 5;
}
.cardcontent {
    text-overflow: ellipsis;
    margin-left: 15px;
    width: 300px;
    height: 65px;
    display: ruby;
    top: 0;
    left: 0;
}
.photoname-box {
    margin-top: -2rem;
    display: flex;
    align-items: flex-end;
}
#name1 {
    font-weight: bold;
    margin-left: 8px;
}
#photo1 {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 2px solid rgb(200, 200, 200);
    background-image: url(https://dmh6legpso131.cloudfront.net/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsiZGF0YSI6NCwicHVyIjoiYmxvYl9pZCJ9fQ==--4e08fca243bdc3c68a162cbfd843634f8fce84d3/eyJfcmFpbHMiOnsiZGF0YSI6eyJmb3JtYXQiOiJqcGciLCJyZXNpemVfdG9fbGltaXQiOls0MDAsNDAwXX0sInB1ciI6InZhcmlhdGlvbiJ9fQ==--f3ce3a687da8d31dcda58034d88ac4546c4280d4/paint.jpg);
    background-size: cover;
    background-position: center;
    z-index: 3;
}
#cardh2 {
    padding-left: 0.5rem;
    margin-left: 1rem;
    border: 0 solid red;
    border-left-width: 2px;
}
.cardbal {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: justify;
    margin-top: 0.5rem;
    padding: 0 1rem;
    line-height: 2rem;
    color: gray;
}
.span-div {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;

}
.card-span {
    color: rgb(180, 180, 180);
}
.cash {
    color: red;
    font-weight: bold;
}
.two-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 10px;
    margin-left: 15px;
}
.three-div{
    margin-top: 40px;
    height: 800px;
    background-size: cover;
    background-position: center;
    background-image: url(https://dmh6legpso131.cloudfront.net/images/astrocamp/home/astrocamp-red-rocket.svg);
}
.threeh{
    text-align: center;
}
#threeh2 {
    font-size: 48px;
    font-family: monospace;
    color: purple;
    padding: 0.5rem;
}
#threeh3 {
    font-size: 30px;
    color: gray;
    margin-bottom: 24px;
}
.threeh4 {
    text-align: center;
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 1em;
}
.three-divbtn {
    font-size: 20px;
    font-weight: bold;
    width: 180px;
    height: 40px;
    cursor: pointer;
    text-align: center;
    padding-top: 10px;
    color: white;
    background-color: #E41F57;
    border-radius: 999px;
    margin: auto;
}
.four-div {
    background-color: #E41F57;
    height: 1000px;
    text-align: center;
}
#fourh3 {
    padding: 20px;
    color: white;
    font-size: 40px;
    font-weight: bold;
}
.five-div {
    display: flex;
}
.fivecard {
    margin: 16px;
    width: 50%;
    height: 180px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    padding: 16px 24px;
    display: flex;
}
.images {
    border-radius: 15px;
    height: 180px;
    width: 180px;
}
.five-h3 {
    margin-left: 50px;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}
.fivespan {
    font-size: 20px;
}
#fivepen {
    margin-top: 30px;
    width: 24px;
    height: 24px;
}
.spandiv5 {
    display: flex;
    color: #BDBDBD;
    width: 100%;
    justify-content: space-between;
}
.five-btn {
    margin-bottom: 60px;
}
.sixh2 {
    background-color: #28303E;
    color: white;
}
.sixbox {
    background-color: #28303E;
    display: flex;
    flex-direction: column;
}
.sixboxinbox {
    margin-top: 16px 0;
    display: flex;
}
.siximghead {
    display: block;
}
.sixcard {
    margin: 20px;
    width: 50%;
    background-color: white;
    border-radius: 20px;
}
.siximg {
    width: 100%;
    border-radius: 20px;
}
.sixh3 {
    font-size: 36px;
    margin: 16px 0 ;

}
.sixtext {
    font-size: 20px;
    margin: 16px;
}
.sixend {
    display: flex;
    flex-direction: row-reverse;
    margin: 24px 16px 16px 0;
    padding-bottom: 16px;
    font-weight: bold;
    color: #E41F57;
}

.circle {
    width: 48px; 
    height: 48px; 
    background-color: black; 
    border-radius: 50%; 
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 10px;
    left: 10px;
    z-index: 15;
}
.message {
    width: 130px;
    height: 38px;
    border-radius: 10px;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    background-color: #FF133E;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 15;
}
.messageicon {
    position: absolute;
    left: 0;
    padding: 5px;
    width: 24px;
    height: 24px;
}
.rocket {
    width: 30px;
    height: 30px;
}
footer {
    width: 100%;
    background-color: #28303E;
    position: relative;
}
.footer-section {
    padding: 20px;
}
.footericon {
    width: 240px;
    height: 60px;
}
.ffb {
    width: 28px;
    height: 28px;
}
.footerli {
    list-style: none;
    color: white;
    font-weight: bold;
}
.footernav {
    flex-direction: column;
    justify-content: end;
}
.fnavul {
    display: flex;
    list-style: none;
    gap: 2rem;
    color: white;
    font-weight: bold;
    margin: 20px 0;
    justify-content: end;
}