body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #efefef;
    margin: 0;
}

#game {
    background-color: #ccc;
    border: 2px solid #333;
    display: block;
}

#toggleBtn {
    margin-top: 20px;
    padding: 12px 24px;
    font-size: 18px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#toggleBtn:hover {
    background-color: #777;
}
