header{
    width: 100vw;
    background-color: #e2c20a;
}
html{
    scroll-behavior: smooth;
}

.headernav{
    display: inline-block;
    gap: 2rem;
    font-weight: bold;
}

.headernav a{
    text-decoration: none;
    color: white;
}

.headicon{
    display: inline;
    width: 2em;
}

li {
    display: inline-block;
    padding: 50px;
}
.box1 {
    width: 100%;
    height: 100vh;
    background-image: url(../image/view1.jpg);
    background-size: cover;
    background-position: center;
}
.carditems{
    width: 1000px;
    display: inline-block;
}
.card{
    width: 300px;
    border: 1px solid black;
    display: inline-block;
    padding: 15px 10px;
    margin: 15px 10px;
}
.crad:last-child{
    margin: 0;
}
.view2{
    margin: 20px 20px;
    padding-left: 20px;
    padding-top: 10px;
    width: 500px;
    height: 500px;
    display: inline-block;
}
.texthead{
    margin: 30px 20px;
    padding-top: 10px;
    padding-left: 20px;
    height: 150px;
    width: 500px;
    text-align: left;
    display: inline-block;
    /* border: 1px solid black; */
}
.container {
    display: flex;
    justify-content: space-between;
}
.webh3{
    font-size: 15px;
    color: tan;
}
#webh2{
    font-size: 45px;
}
#h3span{
    color: black;
}
#h3p{
    padding-top: 30px;
}
#h3button{
    height: 40px;
    width: 150px;
    margin-top: 30px;
    font-weight: bold;
    font-style: italic;
}
#h3button:hover{
    background-color: tan;
}
#vipspan{
    padding-left: 20px;
    color: black;
}
.vipcard{
    display: flex;
}
.vip{
    width: 200px;
    height: 200px;
    text-align: center;
    margin-top: 20px;
    margin: 20px;
    border: 1px black solid;
}
#viph1{
    font-size: 30px;
    font-weight: bold;
    display: flex;
    margin-left: 40px;
    color: tan;
}
.footerbox{
    margin-top: 20px;
    background-color: tan;
    width: 100vw;
    height: 30vh;
}
#footerh2{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
#footera{
    font-size: 30px;
    text-decoration: none;
}
.footer-social {
    padding-left: 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.footer-social li{
   list-style: none;
}
.footer-social img{
    width: 30px;
    filter: invert();
}
.vipp{
    padding-top: 10px;
}