body {
	margin: 0;
	background-color: skyblue;
}

body * {
	position: absolute;
	transform-style: preserve-3d;
}

body *::before, body *::after {
	position: absolute;
	content: '';
}

.scene {
	top: 50%; left: 50%;
	width: 1px; height: 1px;
	transform: rotateX(54.7deg) rotateZ(-45deg);
	--animation: 5s linear(0 0%, 0.22 2.1%, 0.86 6.5%, 1.11 8.6%, 1.3 10.7%, 1.35 11.8%, 1.37 12.9%, 1.37 13.7%, 1.36 14.5%, 1.32 16.2%, 1.03 21.8%, 0.94 24%, 0.89 25.9%, 0.88 26.85%, 0.87 27.8%, 0.87 29.25%, 0.88 30.7%, 0.91 32.4%, 0.98 36.4%, 1.01 38.3%, 1.04 40.5%, 1.05 42.7%, 1.05 44.1%, 1.04 45.7%, 1 53.3%, 0.99 55.4%, 0.98 57.5%, 0.99 60.7%, 1 68.1%, 1.01 72.2%, 1 86.7%, 1 100%) infinite;
}

.box {
	color: black;
	transform-origin: 0.5px 0.5px 0.5px;
	transform-style: preserve-3d;
	width: 100px; aspect-ratio: 1/1;
	border: 1px solid currentColor;
	box-sizing: border-box;
	animation: var(--animation);
}

.box__side {
	top: -1px; left: -1px;
	width: 100px; aspect-ratio: 1/1;
	border: 1px solid currentColor;
	box-sizing: border-box;
}

.box__side:nth-child(1) {
	translate: 0 0 100px;
}

.box__side:nth-child(2) {
	transform-origin: top left;
	transform: rotateY(-90deg);
}

.box__side:nth-child(3) {
	transform-origin: bottom right;
	transform: rotateY(90deg);
}

.box__side:nth-child(4) {
	transform-origin: bottom right;
	transform: rotateX(-90deg);
}

.box__side:nth-child(5) {
	transform-origin: top left;
	transform: rotateX(90deg);
}

@keyframes box1 { 0% { transform: rotateY(0deg); } 50% { transform: rotateY(90deg); } 100% { transform: rotateY(90deg) rotateX(90deg); }}
@keyframes box2 { 0% { transform: rotateY(270deg); } 50% { transform: rotateY(360deg); } 100% { transform: rotateY(360deg) rotateZ(90deg); }}
@keyframes box3 { 0% { transform: rotateX(90deg); } 50% { transform: rotateX(90deg) rotateZ(90deg); } 100% { transform: rotateX(90deg) rotateZ(90deg) rotateX(90deg); }}
@keyframes box4 { 0% { transform: rotateX(90deg) rotateY(-90deg); } 50% { transform: rotateX(90deg) rotateY(-90deg) rotateX(90deg); } 100% { transform: rotateX(90deg) rotateY(-180deg) rotateX(90deg); }}
@keyframes box5 { 0% { transform: rotateY(180deg); } 50% { transform: rotateY(270deg); } 100% { transform: rotateY(270deg) rotateX(90deg); }}
@keyframes box6 { 0% { transform: rotateY(180deg) rotateX(90deg); } 50% { transform: rotateY(180deg) rotateX(90deg) rotateZ(90deg); } 100% { transform: rotateY(180deg) rotateX(90deg) rotateZ(90deg) rotateX(90deg); }}
@keyframes box7 { 0% { transform: rotateX(-180deg); } 50% { transform: rotateX(-180deg) rotateY(90deg); } 100% { transform: rotateX(-180deg) rotateY(90deg) rotateX(90deg); }}
@keyframes box8 { 0% { transform: rotateY(90deg); } 50% { transform: rotateY(180deg); } 100% { transform: rotateY(180deg) rotateZ(90deg); }}

.box1 { animation: box1 var(--animation); }
.box2 { animation: box2 var(--animation); }
.box3 { animation: box3 var(--animation); }
.box4 { animation: box4 var(--animation); }
.box5 { animation: box5 var(--animation); }
.box6 { animation: box6 var(--animation); }
.box7 { animation: box7 var(--animation); }
.box8 { animation: box8 var(--animation); }