* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.container {
    overflow: hidden;
    background-color: green;
    white-space: nowrap;
    position: relative;
}

.car {
    display: inline-block;
    animation: 10s marquee infinite linear;
}

.card {
    display: inline-block;
    background: green;
    height: 50px;
    width:  200px;
}
